/* Style for whole page */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(160, 159, 159);
    display: block;
}
/* style for all list items and p tags */
p, li {
    color: rgb(238, 227, 227);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    color: rgb(228, 228, 145);
    font-size: 100px;
}

h2 {
    color: rgb(138, 218, 218);
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    
}
/* bootcamp picture style */
#bootcamp {
    image-resolution: 960, 540;
    height: 960;
    width: 540;
}
.header {
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(151, 194, 151);
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* horiseon picture style */
#horiseon {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    
}
/* hyperlink text color */
a {
    color: black;
}

#pictureofme {
    display: flex;
    flex-direction: row;
    margin:10px;
    padding:20px;
    justify-content: center;
    position: center;

}
/* card settings across all sections */
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
/* fixes list item color for "E-mail" on line 64 of index.html */
li {
    color: black;
}
/* fixes email hyperlink color to match phone number */
#E-mail {
    color: white;
}
@media screen and (max-width:1200px) {
    body, header {
        flex: 1 0 0;
    }

    img {
        flex-wrap: wrap 1 1 0;
    }
    
        
} 
 